{% extends 'navbar.html.twig' %}
{% block content %}
    <div>
        <h2>{{ page_heading_1 }}</h2>
        <p>{{ page_text }}</p>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Mobile Phone</th>
            <th scope="col">Password</th>

        </tr>
        </thead>
        <tbody>
        {% for user in array_of_users %}
            <tr>
                <td scope="row">{{ user.user_username }}</td>
                <td>{{ user.user_mobile }}</td>
                <td>{{ user.user_password }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}